name: release
on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:

      # セットアップ
      - uses: actions/checkout@v4
      - name: コミットバージョン
        run: git log -n 1
      - uses: gradle/actions/wrapper-validation@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'microsoft'

      # ビルド
      - name: プロジェクトのビルド
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build
      - name: ビルドされたファイルの一覧
        run: ls -1 build/libs
      - name: リリースに必要な情報の抽出
        run: |
          mod_version=$(echo ${{ github.ref }} | perl -lpE 's|^refs/tags/v||')
          echo "Mod Version: $mod_version"
          echo "mod_version=$mod_version" >> $GITHUB_ENV

      # リリース
      - name: リリースの作成
        run: >
          gh release create
          v${{ env.mod_version }}
          --verify-tag
          --title v${{ env.mod_version }}
          build/libs/MirageFairy2024-Kakera-Unofficial-${{ env.mod_version }}.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Modrinthのリリース
        run: ./gradlew modrinth
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
